.risk-card {
    word-wrap: normal !important;
    border-radius: 0;
    width: 95% !important;
    margin-left: 3% !important;
    margin-top: 3%;
    border: 1px solid #0099cc;
    position: absolute;
    background-color: white;
    margin-bottom: 5%;
}
.risk-card h3 {
    text-align: center;
    padding: 15px;
    margin-bottom:3%;
    border-bottom: 1px solid black;
}
.title {
    margin: 30px 30px;
}
.next-button {
    margin-left: 74%;
}
.risk-key {
    margin-left:3%;
}
.table {
    width:70%;
    border-collapse:separate;
}
.risk-data {
    max-width:47%;
}
.button-group{
    margin: 7px;
    margin-top: 4%;
    margin-bottom: 4%;
}
.edit-button {
    width: 169px;
    margin-top: 3%;
}
.inputfile {
    top: 8px !important;
    left: 15px !important;
    width: 59% !important;
    height: 82% !important;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    /* z-index: -1; */
}
.inputfile + label {
    font-size: 1.25em;
    font-weight: 700;
    color: white;
    background-color: black;
    display: inline-block;
}

.inputfile:focus + label,
.inputfile + label:hover {
    background-color: red;
}
.inputfile + label {
	cursor: pointer; /* "hand" cursor */
}