.add-card{
    word-wrap: normal !important;
    border-radius: 0;
    width: 95% !important;
    margin-left: 3% !important;
    margin-top: 3%;
    border: 1px solid #0099cc;
    position: absolute;
    background-color: white;
    margin-bottom: 5%;
}
.add-card h2{
    border-bottom: 1px solid black;
    text-align: center;
    padding: 25px;
    margin-bottom: 4%;
}